<!-- Note the position: relative style -->
<script type="importmap">
    {
      "imports": {
        "@material/web/": "https://esm.run/@material/web/"
      }
    }
  </script>
<script type="module">
    import '@material/web/all.js';
    import { styles as typescaleStyles } from '@material/web/typography/md-typescale-styles.js';

    document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
</script>
<span style="position: relative">
    <md-filled-button id="usage-anchor">Set with idref</md-filled-button>
    <md-menu id="usage-menu" anchor="usage-anchor">
        <md-menu-item>
            <div slot="headline">Apple</div>
        </md-menu-item>
        <md-menu-item>
            <div slot="headline">Banana</div>
        </md-menu-item>
        <md-menu-item>
            <div slot="headline">Cucumber</div>
        </md-menu-item>
    </md-menu>
</span>

<script type="module">
    // This example uses anchor as an ID reference
    const anchorEl = document.body.querySelector('#usage-anchor');
    const menuEl = document.body.querySelector('#usage-menu');

    anchorEl.addEventListener('click', () => { menuEl.open = !menuEl.open; });
</script>

<span style="position: relative">
    <md-filled-button id="usage-anchor-2">Set with element ref</md-filled-button>
    <md-menu id="usage-menu-2">
        <md-menu-item>
            <div slot="headline">Apple</div>
        </md-menu-item>
        <md-menu-item>
            <div slot="headline">Banana</div>
        </md-menu-item>
        <md-menu-item>
            <div slot="headline">Cucumber</div>
        </md-menu-item>
    </md-menu>
</span>
<!-- Note the position: relative style -->
<span style="position: relative">
    <md-filled-button id="usage-submenu-anchor">
        Menu with Submenus
    </md-filled-button>
    <!-- Note the has-overflow attribute -->
    <md-menu has-overflow id="usage-submenu" anchor="usage-submenu-anchor">
        <md-sub-menu>
            <md-menu-item slot="item">
                <div slot="headline">Fruits with A</div>
                <!-- Arrow icons are helpful affordances -->
                <md-icon slot="end">arrow_right</md-icon>
            </md-menu-item>
            <!-- Submenu must be slotted into sub-menu's menu slot -->
            <md-menu slot="menu">
                <md-menu-item>
                    <div slot="headline">Apricot</div>
                </md-menu-item>
                <md-menu-item>
                    <div slot="headline">Avocado</div>
                </md-menu-item>

                <!-- Nest as many as you want and control menu anchoring -->
                <md-sub-menu menu-corner="start-end" anchor-corner="start-start">
                    <md-menu-item slot="item">
                        <div slot="headline">Apples</div>
                        <!-- Arrow icons are helpful affordances -->
                        <md-icon slot="start">
                            arrow_left
                        </md-icon>
                    </md-menu-item>
                    <md-menu slot="menu">
                        <md-menu-item>
                            <div slot="headline">Fuji</div>
                        </md-menu-item>
                        <md-menu-item>
                            <div slot="headline" style="white-space: nowrap;">Granny Smith</div>
                        </md-menu-item>
                        <md-menu-item>
                            <div slot="headline" style="white-space: nowrap;">Red Delicious</div>
                        </md-menu-item>
                    </md-menu>

                </md-sub-menu>
            </md-menu>
        </md-sub-menu>

        <md-menu-item>
            <div slot="headline">Banana</div>
        </md-menu-item>
        <md-menu-item>
            <div slot="headline">Cucumber</div>
        </md-menu-item>
    </md-menu>
</span>

<script type="module">
    const anchorE = document.body.querySelector('#usage-submenu-anchor');
    const menuE = document.body.querySelector('#usage-submenu');

    anchorE.addEventListener('click', () => { menuE.open = !menuE.open; });
</script>
<script type="module">
    // This example uses MdMenu.prototype.anchorElement to set the anchor as an
    // HTMLElement reference.
    const anchorEls = document.body.querySelector('#usage-anchor-2');
    const menuEls = document.body.querySelector('#usage-menu-2');
    menuEls.anchorElement = anchorEls;

    anchorEls.addEventListener('click', () => { menuEls.open = !menuEls.open; });
</script>